address=/localhost.local/127.0.0.1
re-address=/^.*\.local$/127.0.0.2
re-address=/^test\.net$/127.0.0.3
address=/test.net/127.0.0.4

address=/test.xxx.net/127.0.0.10
re-address=/^.*\.xxx\.net$/127.0.0.11

re-address=/^what.the.hell$/127.0.0.13
address=/what.the.hell/127.0.0.12
re-address=/^what.the.hell$/127.0.0.13

re-address=/top$/127.0.0.14
re-address=/a.top$/127.0.0.15
re-address=/top$/127.0.0.16
